<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Example Prototype</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- endbower -->
  <!-- endbuild -->
  <link rel="stylesheet" href="../../prototypes/assets/css/prototypes.css">
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  <header class="navbar navbar-static-top proto-nav">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          Prototype
        </a>
      </div>
      <nav class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Bibendum</a>
          </li>
          <li>
            <a href="#">Torquent</a>
          </li>
          <li>
            <a href="#">Magnis</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Risus</a>
          </li>
          <li>
            <a href="#">Semper</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {{= it.document }}

  <footer class="proto-footer">
    <div class="container">
      <p>© 2014 Himenaeos · <a href="#">Accumsan</a> · <a href="#">Eleifend</a></p>
    </div>
  </footer>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
</body>
</html>