{
  "template": "<%= defaultTemplate %>"
}

<section class="proto-home-masthead">
  <div class="container">

    <p>
      This is the page for your <%= prototypeName %> prototype. You can change it to whatever you need.
    </p>

  </div>
</section>